extends layout

block content
  h1=client.first_name + " " + client.last_name
  h3=client.organization
  nav
  br
  #contact
    =client.address
    |#[br]
    =client.city + ", " + client.state + " " + client.zip
    br
    b Phone: 
    |#{'(' + client.phone.substr(0, 3) + ') ' + client.phone.substr(3, 3) + '-' + client.phone.substr(6,4)}
    |#[br]
    b Email: 
    a(href="mailto:"+client.email) #{client.email}
  br

  nav
  #nav-tab.nav.nav-tabs(role='tablist')
    a#orders-tab.nav-item.nav-link.active(data-toggle='tab', href='#orders', role='tab', aria-controls='nav-home', aria-selected='true') Orders
    a#info-tab.nav-item.nav-link(data-toggle='tab', href='#info', role='tab', aria-controls='nav-profile', aria-selected='false') Info
  #nav-tabContent.tab-content
    #orders.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='orders-tab')
      br
      table.table.table-striped
        if orders.length > 0
          thead
            tr
              th(scope="col") Date Updated
              th(scope="col") Total
              th(scope="col") Status
              th(scope="col")
          each order in orders
            tr
              -var date = (new Date(order.updatedAt)).toLocaleString('en-US', { month: 'long', day: '2-digit', year: 'numeric' });
              td=date
              td="$"+order.amount
              td=order.state
              td
                form(method="GET" action="/order/view/"+order.id style="margin-right: 5px; float:left;")
                  button.btn.btn-success(type="submit") View
        else
          p There are no orders.
    #info.tab-pane.fade(role='tabpanel', aria-labelledby='info-tab' style='padding: 5px;')
      b Client Registered: 
      |#{(client.password != null) ? "Yes" : "No"}
      br
      b Client Since: 
      -var regDate = (new Date(client.createdAt)).toLocaleString('en-US', { month: 'long', day: '2-digit', year: 'numeric' });
      =regDate
      br
      b Last Updated: 
      -var upDate = (new Date(client.updatedAt)).toLocaleString('en-US', { month: 'long', day: '2-digit', year: 'numeric' });
      =upDate