extends layout

block content
  h1 Inventory
  table.table.table-striped
    thead
      tr
        th(scope="col") Name
        th(scope="col") Type
        th(scope="col") Description
        th(scope="col") Cost
        th(scope="col") Price
        th(scope="col")
    tbody
      each item, i in items
        tr
          td=item.name
          td=item.type
          td=item.description
          td=item.cost
          td
            b=item.price
          td
            button.btn.btn-warning(type="warning" style="margin-right: 5px;") Edit
            button.btn.btn-danger(type="button") Delete