extends layout

block content
  h1 Inventory
  a.btn.btn-success(href="/inventory/create" style="float:right; margin-bottom: 5px;") Create
  table.table.table-striped
    thead
      tr
        th(scope="col") Name
        th(scope="col") Type
        th(scope="col") Cost
        th(scope="col") Stock
        th(scope="col") Price
        th(scope="col")
    tbody
      each item, i in items
        tr
          td=item.name
          td=item.type
          td="$"+item.cost
          td=item.stock
          td
            b="$"+item.price
          td
            form(method="GET" action="/inventory/edit/"+item.id style="margin-right: 5px; float:left;")
              button.btn.btn-primary(type="submit") Edit
            button.btn.btn-danger.deleteButton(type="submit" name="id" value=item.id data-toggle='modal' data-target='#DeleteModal') Delete
  .container
    #DeleteModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Delete
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
          .modal-body
            p
              | Click &apos;Delete&apos; to 
              strong permanently
              |  delete this record. Click &apos;Cancel&apos; to cancel your action.
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
            button.btn.btn-danger.deleteModal(type="button" data-dismiss="modal" id="delete" value=1) Delete

  script.
    $('.deleteButton').on('click', function(e) {
      var itemId = $(e.target).attr('value');
      console.log(itemId);
      $(".deleteModal").val(itemId); 
    });

    $('.deleteModal').on('click', function(e){
      console.log('here');
      $target = $(e.target);
      $.ajax({
        type: 'POST',
        url: '/inventory/delete/'+$target.attr('value'),
        dataType: 'json',
        success: function(response){
          if (response.redirect !== undefined && response.redirect) {
            window.location.href = response.redirect;
          }
        }
      });
    }); 




