extends layout.pug
block content
    -
        function stdName(val) {
            switch(val) {
                case "new":
                    return "New";
                case "quote":
                    return "Quote";
                case "1-3":
                    return "1-3 Days";
                case "clinical_applications":
                    return "Clinical Applications";
                default:
                    return val;
            }
        }
    h2(style="float: left;")="Order #"+order.id
        span.badge.badge-primary(style="margin-left: 5px;")
            | #{stdName(order.state)}
    -var date = (new Date(order.updatedAt)).toLocaleString('en-US', { month: 'long', day: '2-digit', year: 'numeric' });
    h4(style="float: right;")="Ordered: "+date
    br
    br
    br
    #orderInfo

        b="Nature of Inquiry: "
        =stdName(order.inquiry_type)
        br
        b="Time Estimate: "
        =stdName(order.time_estimate)
        br
        b="Intended Use: "
        =stdName(order.intended_use)
    br

    script.
        console.log(!{JSON.stringify(order)})

    h5 Items
    if order.items != null || order.items.isEmpty()
        table.table.table-striped
            thead
                tr
                    th(scope="col") Category 
                    th(scope="col") Item Name
                    th(scope="col") Price
            tbody
                each item in order.items
                    tr
                        td=(item.inventory == null || item.inventory.category == null) ? "" : item.inventory.category
                        td=(item.inventory == null || item.inventory.name == null) ? "" : item.inventory.name
                        td="$"+order.amount
    else
        p There are no payments.

    h5 Payments
    if order.payments != null && order.payments.length > 0
        table.table.table-striped
            thead
                tr
                    th(scope="col") Reference #
                    th(scope="col") Method
                    th(scope="col") Amount
            tbody
                each payment in order.payments
                    tr
                        td=payment.reference_number
                        td=payment.method
                        td="$"+payment.amount
    else
        p There are no payments.