extends layout.pug
block content
    -
        function stdName(val) {
            switch(val) {
                case 'new':
                    return 'New';
                case 'estimate':
                    return 'Estimate';
                case 'in-progress':
                    return 'In-Progress';
                case 'payment':
                    return 'Payment';
                case 'complete':
                    return 'Complete';
                case 'grant':
                    return 'grant';
                case 'immediately':
                    return 'Immediately';
                case '1-3':
                    return '1-3 Months';
                case '3-6':
                    return '3-6 Months';
                case '6_or_more':
                    return '6+ Months';
                case 'research_only':
                    return 'Research Only';
                case 'clinical_applications':
                    return 'Clinical Applications';
                case 'quote':
                    return 'Quote';
                default:
                    return val;
            }
        }

    h2(style="float: left;")="Order #"+order.id
        span.badge.badge-primary(id="order_state" orderId=order.id style="margin-left: 5px;")
            | #{stdName(order.state)}
    -var date = (new Date(order.updatedAt)).toLocaleString('en-US', { month: 'long', day: '2-digit', year: 'numeric' });
    h4(style="float: right;")="Ordered: "+date
    br
    br
    br
    #orderInfo
        b="Nature of Inquiry: "
        span(id='reason')=stdName(order.inquiry_type)
        br
        b="Time Estimate: "
        span(id='time_estimate')=stdName(order.time_estimate)
        br
        b="Intended Use: "
        span(id='intended_use')=stdName(order.intended_use)
    br
    button.btn.btn-success(style="float: right;" id="edit_button")
        span.far.fa-edit.fa-lg
    br
    h5 Items
    if order.items != null || order.items.isEmpty()
        table.table.table-striped
            thead
                tr(id="table_head")
                    th(scope="col") Category 
                    th(scope="col") Item Name
                    th(scope="col") Price
                    th(scope="col-sm" id="item_ops_head" hidden)
            tbody(id="table_body")
                each item in order.items
                    tr(id="row_"+item.id)
                        td=(item.inventory == null || item.inventory.category == null) ? "" : item.inventory.category
                        td=(item.inventory == null || item.inventory.name == null) ? "" : item.inventory.name
                        td="$"+item.inventory.price
                        td(name="item_ops" hidden)
                            button.btn.btn-success(name="edit" style="margin-right: 5px;" value=item.id data-toggle="tooltip" data-placement="top" title="Edit")
                                span.far.fa-edit.fa-lg
                            button.btn.btn-danger(name="delete-confirm" value=item.id data-toggle="tooltip" data-placement="top" title="Delete")
                                span.fas.fa-trash-alt.fa-lg
                tr(id="new_item_row")
                    form.needs-validation(id="new_item" novalidate)
                        input(type="hidden" name="order_id" value=order.id)
                        td
                            input.form-control(name='category' id="category" type='text' maxlength='50')
                        td
                            select.custom-select(name="services" id="services" required disabled)
                                option(id="loading" selected) Loading...
                        td
                            input.form-control(name='item_amount' id="item_amount" type='number' value='' step=".01" min="0.01" maxlength='25' required)
                        td
                            input.btn.btn-success(type="submit_item" id="submit_item" style="float: right;")
    else
        p There are no items.
    br
    button.btn.btn-primary(id="add_payment" style="float: right;") Add Payment
    br
    h5 Payments
    table.table.table-striped
        thead
            tr
                th(scope="col") Reference #
                th(scope="col") Method
                th(scope="col") Amount
                th(scope="col" id="pay_ops_head") 
        tbody(id="payments_body")
            if order.payments != null && order.payments.length > 0
                each payment in order.payments
                    tr
                        td=payment.reference_number
                        td=payment.method
                        td="$"+payment.amount
                        td
            else
                p There are no payments.
            tr(id="new_payment_row" hidden)
                form.needs-validation(id="submit_payment" novalidate)
                    input(type="hidden" name="order_id" value=order.id)
                    td
                        input.form-control(name='reference' id="reference" type='text' maxlength='50')
                    td
                        select(name="method" id="method" class="custom-select" required)
                            option(value="cc") Credit Card
                            option(value="check") Check
                            option(value="po") Purchase Order
                    td
                        input.form-control(name='amount' id="amount" type='number' value=(entry ? entry.price : '') step=".01" min="0.01" maxlength='25' required)
                    td
                        input.btn.btn-success(type="submit" id="submit_payment_button" style="float: right;")

    script(src='/js/order.js')
    script(src='/js/formval.js')