extends layout

block content
  h1 Orders
  //a.btn.btn-success(href="" style="float:right; margin-bottom: 5px;") New Order
  //Not ready yet
  .table-responsive
    table.table.table-striped
      thead
        tr
          th(scope="col" style="width: 10%;") Updated
          th(scope="col" style="width: 15%;") Name/Org
          th(scope="col" style="width: 10%;") Total
          th(scope="col" style="width: 10%;") Status
          th(scope="col" style="width: 10%;")
      tbody
        each order in orders
          tr
            -var date = (new Date(order.updatedAt)).toLocaleString('en-US', { month: 'long', day: '2-digit', year: 'numeric' });
            td=date
            td
              b=order.user.first_name + " " + order.user.last_name
              |#[br]
              =order.user.organization
            td="$"+order.amount
            td=(order.state).charAt(0) + (order.state).substring(1, order.state.length).toLowerCase()
            td
              form(method="GET" action="/order/view/"+order.id style="margin-right: 5px; float:left;")
                button.btn.btn-primary(type="submit")
                  span.far.fa-eye.fa-sm
              button.btn.btn-danger.deleteButton(type="submit" name="delete_item" value=order.id data-toggle='modal' data-target='#DeleteModal')
                span.fas.fa-trash.fa-sm
  if orders.usertype == "seller"
    .container
      #DeleteModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true")
        .modal-dialog
          .modal-content
            .modal-header
              h5.modal-title Delete
              button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            .modal-body
              p
                | Click &apos;Delete&apos; to 
                strong permanently
                |  delete this record. Click &apos;Cancel&apos; to cancel your action.
            .modal-footer
              button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
              button.btn.btn-danger.deleteModal(type="button" data-dismiss="modal" id="delete" value=1) Delete

  script(src='/js/order.js')


