extends layout.pug
block content
    -
        function stdName(val) {
            switch (val) {
                case 'new':
                    return 'New';
                case 'New':
                    return 'new';
                case 'ESTIMATE':
                    return 'Estimate';
                case 'Estimate':
                    return 'ESTIMATE';
                case 'IN-PROGRESS':
                    return 'In-Progress';
                case 'In-Progress':
                    return 'IN-PROGRESS';
                case 'PAYMENT':
                    return 'Payment';
                case 'Payment':
                    return 'PAYMENT';
                case 'COMPLETE':
                    return 'Complete';
                case 'Complete':
                    return 'COMPLETE';
                case 'grant':
                    return 'Grant';
                case 'immediately':
                    return 'Immediately';
                case '1-3':
                    return '1-3 Months';
                case '3-6':
                    return '3-6 Months';
                case '6_or_more':
                    return '6+ Months';
                case 'research_only':
                    return 'Research Only';
                case 'clinical_applications':
                    return 'Clinical Applications';
                case 'quote':
                    return 'Quote';
                case 'cc':
                    return 'Credit Card';
                case 'check':
                    return 'Check';
                case 'po':
                    return 'Purchase Order';
                default:
                    return val;
                }
            }   

    h2(style="float: left;")="Order #"+order.id
        span.badge.badge-primary(id="order_state" orderId=order.id style="margin-left: 5px;")
            | #{stdName(order.state)}
    -var date = (new Date(order.updatedAt)).toLocaleString('en-US', { month: 'long', day: '2-digit', year: 'numeric' });
    h4(style="float: right;")="Ordered: "+date
    br
    br
    br
    #orderInfo
        b="Nature of Inquiry: "
        span(id='reason')=stdName(order.inquiry_type)
        br
        b="Time Estimate: "
        span(id='time_estimate')=stdName(order.time_estimate)
        br
        b="Intended Use: "
        span(id='intended_use')=stdName(order.intended_use)
    br
    if user.account_type === "seller"
        button.btn.btn-primary(style="float: right;" id="edit_button")
            span.far.fa-edit.fa-lg
    br
    h5 Items
    table.table.table-striped(id="itemtable" hidden=(order.items.length == 0 ? "hidden" : false))
        thead
            tr(id="table_head")
                th(scope="col" style="width: 15%;") Category 
                th(scope="col") Item Name
                th(scope="col" style="width: 20%;") Price
                th(scope="col" style="width: 10%;" id="item_ops_head" hidden)
        if order.items != null && order.items.length > 0
            tbody(id="table_body")
                each item in order.items
                    tr(id="row_"+item.id)
                        td=(item.inventory == null || item.inventory.category == null) ? "" : item.inventory.category
                        td=(item.inventory == null || item.inventory.name == null) ? "" : item.inventory.name
                        td="$"+item.inventory.price
                        td(name="item_ops" hidden)
                            button.btn.btn-danger(name="delete-confirm" style="margin: 5px 0 0 0;" value=item.id data-toggle="tooltip" data-placement="top" title="Delete")
                                span.fas.fa-trash-alt.fa-lg
        else
            p There are no items.
        tr(id="new_item_row" hidden)
            form(id="new_item")
                input(type="hidden" name="order_id" value=order.id)
                td(colspan=2)
                    select.custom-select(name="services" id="services" required disabled)
                        option(id="loading-service" selected) Loading...
                td
                    input.form-control(id="item_amount" type='number' value='' step=".01" min="0.01" maxlength='25' required disabled)
                td
                    input.btn.btn-success(type="submit" id="submit_item_button" style="float: left;")
    br
    if user.account_type === "seller"
        button.btn.btn-primary(id="add_payment" style="float: right;")
            span.far.fa-edit.fa-lg
    br
    h5 Payments
    table.table.table-striped(id="paytable" hidden=(order.payments.length == 0 ? "hidden" : false))
        thead
            tr
                th(scope="col") Reference #
                th(scope="col" style="width: 15%;") Method
                th(scope="col" style="width: 20%;") Amount
                th(scope="col" id="pay_ops_head" style="width: 10%;" hidden) 
        tbody(id="payments_body")
            if order.payments != null && order.payments.length > 0
                each payment in order.payments
                    tr(id="pay_"+payment.id)
                        td=payment.reference_number
                        td=stdName(payment.method)
                        td="$"+payment.amount
                        td(name="pay_ops" hidden)
                            button.btn.btn-danger(name="delete-payment-confirm" style="margin: 5px 0 0 0;" value=payment.id data-toggle="tooltip" data-placement="top" title="Delete")
                                span.fas.fa-trash-alt.fa-lg
            else
                p There are no payments.
            tr(id="new_payment_row" hidden)
                form(id="submit_payment")
                    input(type="hidden" name="order_id" value=order.id)
                    td
                        input.form-control(name='reference' id='reference' type='text' maxlength='50' required)
                    td
                        select.custom-select(name="method" id="method" class="custom-select" required)
                            option(value="check") Check
                            option(value="cc") Credit Card
                            option(value="po") Purchase Order
                    td
                        input.form-control(name='amount' id="amount" type='number' value=(entry ? entry.price : '') step=".01" min="0.01" maxlength='25' required)
                    td
                        input.btn.btn-success(type="submit" id="submit_payment_button" style="float: right;")
    
    if user.account_type === "seller"
        script(src='/js/order.js')
        script(src='/js/formval.js')